
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi app angular</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
  <h1>Hola mundo</h1>  
  <p class="miTexto" id="mitext2">Esto es un parraffo</p>
  <h1>Esto es un titulo</h1>
  <h3>Esto es otro titulo</h3>
  <table border="1">
    <tr>
      <th class="ola"> Productos</th>
      <th>Precios</th>
      <th>Cantidad</th>
    </tr>
    <tr>
       <td>Computadora</td>
       <td>$20000000</td>
       <td>5</td>

    </tr>
    <tr>
      <td><button>Comprar</button></td>
      <td><button>Pedir</button></td>
      <td><button>Vender</button></td>
    </tr>

  </table>
  <h3>Mi formulario k rikura</h3>
  <form>

    <input type="text"><br>
    <input type="text">
    <input type="Submit" value="Enviar">


  </form>
</body>
</html>

<router-outlet />
